* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
  
body {
    height: 100%;
    background-repeat: no-repeat;
    background-color: whitesmoke;
}

.navbar {
    background-color: white;
    box-shadow: 2.4px 2.4px 2.4px 2.4px #e3e5e8;
    align-items: center;
    width: 100%;
    height: 80px;
}

#nav-items {
    text-align: right;
}

#nav-items li {
    display: inline-block;
    list-style: none;
    text-align: right;
}

#nav-items li a {
    text-decoration: none;
    color: #2b4560;
    text-align: right;
    padding: 8px;
    margin: 16px;
    font-size: 22px;
    font-family: "Century Gothic";
    position: relative;
    top: 30px;
    right: 50px;
    border: 1.8px solid #2b4560;
    border-radius: 50px;
    transition: .5s;
}

#nav-items li a:hover {
    transition: .5s;
    background-color: #2b4560;
    color: whitesmoke;
}

#nav-items li a:hover::after {
    transition: .5s;
}

#logo {
    height: 70px;
    width: 70px;
    margin-left: 30px;
    margin-top: -20px;
}

.bg-img {
    align-items: center;
}

.container {
    height: 78vh;
    width: 100%;
    background-image: linear-gradient(whitesmoke, aliceblue);
}

#main-img {
    display: block;
    width: 400px;
    height: 370px;
    margin-top: 20px;
    margin-left: 60%;
    border: 1px solid aliceblue;
    border-radius: 22%;
    position: absolute;
}

#topic {
    color: #2b4560;
    font-family: "Century Gothic";
    margin-left: 13%;
    margin-top: 5%;
    font-size: 50px;
}

#home-content {
    color: #2b4560;
    font-family: "Century Gothic";
    margin-left: 13%;
    margin-top: 3%;
    font-size: 20px;
}

#r-arrow {
    position: relative;
    top: 50px;
    font-size: 60px;
    margin-left: 13%;
    color: #2b4560;
    border: 2px solid #2b4560;
    padding: 8px;
    border-radius: 36px;
    transition: .5s;
}

#r-arrow:hover {
    transition: .5s;
    background-color: #2b4560;
    color: whitesmoke;
}

#r-arrow:hover::after {
    transition: .5s;
}